<h1>Vous devez vérifier un nouveau candidat</h1>
<p>
    Veuillez vérifier le candidat suivant : <br><br>
    {% if 'ROLE_CANDIDATE' in user.roles|first %}
        <a href="{{ absolute_url(path('app_candidate_profil', {'id' : user.id})) }}" role="button">Voir le candidat</a>
    {% endif %}
        
    {% if 'ROLE_COMPANY' in user.roles|first %}
        <a href="{{ absolute_url(path('app_company_profil', {'id' : user.id})) }}" role="button">Voir le candidat</a>
    {% endif %}

</p>