<h1>Vous êtes consultant</h1>
<p>
    Veuillez créer votre mot de passe pour activer votre compte : <br><br>
    <a href="{{ absolute_url(path('app_create_password', {'id':user.id, 'token':user.token})) }}" role="button">Créer mon mot de passe</a>
</p>