<h1>Vous devez vérifier une nouvelle annonce</h1>
<p>
    Veuillez vérifier l'annonce suivant : <br><br>
    <a href="{{ absolute_url(path('app_unique_ad', {'id' : ad.id})) }}" role="button">Voir l'annonce'</a>

</p>

